<h1>People list</h1>

<table>
    <thead>
        <tr>
            <th>Name: </th>
            <th>Function: </th>
            <th>Actions</th>
        </tr>
    </thead>
    
    <tbody>
        <% @articles.each do |article| %>
        <tr>
            <td><%=article.nome %></td>
            <td><%=article.cargo %></td>
            <td><%= link_to 'Show', article_path(article.id)%></td>
            <td><%= link_to 'Delete', article_path(article.id), method: :delete %></td>
        </tr>
        <% end %>
    </tbody>
</table>